html, body {
  background-color: black;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#diagram-container {
  transform-origin: top left;
  position: absolute;
  left: 0px;
  top: 0px;
  height: 752px;
  width: 564px;
  transform: scale(1, 1);
  
  font-family: 'Dosis', san-serif;
  font-size: 16px;
}

#diagram-image {
  height: 100%;
  width: 100%;
}

#application-title {
  position: absolute;
  text-align: center;
  width: 564px;
  left: 282px;
  bottom: 0px;
  transform: translate(-50%, -50%);
  font-size: 22px;
}

#current-mode {
  position: absolute;
  top: 12px;
  right: 10px;
  padding-right: 5px;
  padding-left: 5px;
  text-align: right;
  
  border: 0px solid black;
  border-radius: 8px;    
}

#current-unit {
  position: absolute;
  top: 35px;
  right: 10px;
  width: 105px;
  padding-right: 5px;
  text-align: right;

  border: 2px solid black;
  border-radius: 8px;  
}

#info-link i {
  position: absolute;
  top: 60px;
  right: 15px;
  transform-origin: top right;
  transform: scale(1.5, 1.5);
}

a:link {
  color: black;
}

a:active {
  color: red;
}

a:visited {
  color: black;
}

a:hover {
  color: maroon;
}

#measurement-labels div {
  position: absolute;
  transform: translate(-50%, -50%);
}

#chests-height {
  top: 465px;
  left: 52px;
}

#beds-lower-height {
  top: 606px;
  left: 179px;
}

#beds-upper-height {
  top: 622px;
  left: 179px;
}

#bookcases-height {
  top: 357px;
  left: 122px;
}

.diagram-input {
  position: absolute;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: 'Dosis', san-serif;
  font-size: 16px;
  width: 20px;

  background: transparent;
  border: 2px solid black;
  border-radius: 8px;
}

#user-height-input-cm {
  top: 377px;
  left: 225px;
  width: 40px;

}

#user-height-input-feet {
  top: 377px;
  left: 208px;
  width: 20px;

  text-align: right;
  border-radius: 8px 0px 0px 8px;  
  padding-right: 12px;
}

#user-height-input-feet-unit-label {
  position: absolute;
  font-size: 20px;
  top: 364px;
  left: 215px;

  width: 20px;
  height: 20px;
}

#user-height-input-inch {
  top: 377px;
  left: 241px;

  width: 28px;
  height: 20px;

  border-radius: 0px 8px 8px 0px;    
  padding-right: 4px;
}

#user-height-input-inch-unit-label {
  position: absolute;

  top: 364px;
  left: 245px;

  font-size: 20px;
}

#tables-height {
  top: 579px;
  left: 371px;
}

#seats-and-coffee-tables-lower-height {
  top: 606px;
  left: 422px;
}

#seats-and-coffee-tables-upper-height {
  top: 622px;
  left: 422px;
}

#cabinets-height {
  top: 552px;
  left: 496px;
}

#wardrobes-height {
  top: 383px;
  left: 510px;
}

/* Remove "Spinners" on Numbers Input Field */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

@media print {
  html, body {
    background-color: white;
  }

  .diagram-input, #current-unit {
    border: 0px none black;
  }
}
